h1{
    background-color: rgb(227, 41, 41);
    color: rgb(202, 248, 231);
    /* height: 50px; */
     width: 80%;
    margin-left: 40px;
    padding-top: 20px; 
}

h2{
   background-color: rgb(94, 237, 94); 
   color: rgb(50, 8, 90);
   width: 80%;
   margin-left: 40px;
   padding-top: 15px; 
   text-size-adjust: 50px;
   text-decoration: solid;
}


