<h3 style="color: blue; margin-left: 30%;"><u>Drective-assignment *ngIf,*ngFor,*ngSwitchCase!</u></h3>
<!-- <input type="checkbox",name='check',value=1> click here to the information. -->
<h2>1.Use of Directives - *ngIf</h2>
<div class="input-group-text" style="background-color:rgb(188, 241, 223) ;">
    <input type="checkbox" aria-label="Checkbox for following text input" (click)="onCreateBlock()">
    &nbsp; click here to see information.
</div>

<div *ngIf="isChecked" style="margin-left: 40%">
    <ul>
        <li>“The more that you read, the more things you will know. ...</li>
        <li>“Books are a uniquely portable magic.” - ...</li>
        <li>“Today a reader, tomorrow a leader.” - ...</li>
        <li>“The best advice I ever got was that knowledge is power and to keep reading.” - ...</li>
        <li>“Reading is to the mind what exercise is to the body.”</li>
    </ul>
</div>
<hr>
<h2>2.Use of Directives - *ngFor</h2>
<hr>
<div>

    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Cost</th>
                <th>Publish Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <!-- <td> {{i+1}}</td> -->
                <td>{{book.title}}</td>
                <td>{{book.Author}}</td>
                <td>{{book.Cost}}</td>
                <td>{{book.publishedDate}}</td>

            </tr>
        </tbody>

    </table>
</div>
<hr>
<h2>3.Use of Directives - **ngSwitchCase</h2>
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <select class="form-control" (change)="getProductValues($event)">
                <option value="Default">Select Book</option>
                <option value="The Power of Positive Thinking">The Power of Positive Thinking</option>
                <option value="Think and Grow Rich">Think and Grow Rich</option>
                <option value="Learning How to Fly: Life Lessons for the Youth">Learning How to Fly: Life Lessons for
                    the Youth</option>

            </select>
        </div>

        <div class="col-md-12" [ngSwitch]="selectedProduct">
            <h2 class="text-success" *ngSwitchDefault>Please select Book</h2>
            <h2 class="text-success" *ngSwitchCase="'The Power of Positive Thinking'">The Power of Positive Thinking
            </h2>
            <h2 class="text-success" *ngSwitchCase="'Think and Grow Rich'">Think and Grow Rich</h2>
            <h2 class="text-success" *ngSwitchCase="'Learning How to Fly: Life Lessons for the Youth'">Learning How
                toFly: Life Lessons for the Youth</h2>


        </div>
    </div>
</div>