<div class="row justify-content-center">
    <div class="col-md-8 form-inline mb-2">
        <label for="productid"> Search by product</label>
        <input type="text" class="form-control" id="productid" placeholder="Enter product name" [(ngModel)]="nameSearch">
    </div>
    <div class="col-md-8">
        <table class="table">
             <thead>
                <tr>
                    <th scope="col">Sno</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Availibility</th>
                </tr>
             </thead>   
             <tbody>
                <!-- <tr *ngFor="let product of productArr | filter : nameSearch"></tr> -->
                    <th scope="row">{{product.sno}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.availability}}</td>
               
             </tbody>
        </table>
    </div>
</div>
