<p>dir-assign works!</p>

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
      



<!-- <button class="btn-btn-primary" (click)="showScreate = ! showScreate">Display details</button>  -->
<!-- <button class="btn-btn-primary" (click)="onToggleDetails()">Display details</button> 

<p *ngIf="showSecrete">secrete password = tuna</p>
  <div *ngFor="let logItem of log"
  [ngStyle]="{backgroundcolor:logItem >=5 ? 'blue':'transparent'}"
  [ngClass]="">
    {{logItem}}

  </div> 
    </div>

</div> --> -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
           
            <!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button> -->
            <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
            <p *ngIf="showSecret">Secret Password = tuna</p>
            <div *ngFor="let logItem of log"
             [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue':'transparent' }" 
             [ngClass]="{'white-text': logItem >= 5}">
             {{logItem}}
            </div>
        </div>
    </div>
</div>
