<!--The content below is only a placeholder and can be replaced.-->

<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1> -->
 <!-- <app-server></app-server>
 <app-demo></app-demo> -->

<!-- 
  <img width="200" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div> -->
 
<!-- <app-data-binding></app-data-binding> -->
<!-- <h2>Here are some links to help you start: </h2> -->
<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<!-- <app-componet-directives></app-componet-directives> -->
<!-- <app-server></app-server> -->
<!-- <app-servers></app-servers>
<button type="button" class="btn btn-primary">Primary</button> -->
<!-- <app-demodirectives></app-demodirectives> -->
<!-- <app-drective-assignment></app-drective-assignment> -->
<!-- <app-demodirectives></app-demodirectives> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-attri></app-attri> -->

<!-- <app-child title="video1" disc="disc1"url="none"></app-child> -->
<!-- 
<ul>
  <li></li>
</ul>

<div>
<app-child [employeeName]="e"(foodEvent)='getDataFromChild($event)'></app-child>
ap
</div> -->
<!-- 
<ul *ngFor="let f of foods">
  <li>
    {{f}}
  </li>
</ul>

<!-- <div >
<app-child  (foodevent)="getDataFromChild($event)"> -->

<!-- </app-child>
<h2>{{msg}}</h2> -->
<!-- <app-child (childEvent)="msg=$event"></app-child> -->
<!-- <h2>{{msgObj}}</h2> -->
<!-- <app-child (childEvent)="getDataFromChild($event)" ></app-child> -->
<!-- {{value}} -->
<!-- <div style="background-color:rgb(234, 241, 155);color: rgb(52, 6, 71); font-size: larger; margin-right: 20%;margin-left: 20%;">
<ul *ngFor="let p of prop">
  <li>
    Name: {{p.fullName}}
  </li>
  <li>
    Age : {{p.age}}
  </li>
  <li>
    isMarried : {{p.isMarried}}
  </li>
  <li>
    Address : {{p.address}}
  </li>
  <li>
    City : {{p.city}}
  </li>
  <li>
    Hobby : {{p.hobby}}
  </li>
</ul>
</div>

<input type="text" (blur)="handleData($event)">
<app-hooks [userid]="uid" *ngIf="appchildExist"
>
  <h1>This is child content coming from parent component</h1>


</app-hooks> -->

<!-- <button class="btn btn-danger" (click)="destroy()">Destroy component</button> --> 





<!-- <select (change)="uid= sid.value" #sid>
  <option  selected disabled> No value selected</option>
  <option [value]="id" *ngFor ="let id of[1,2,3,4,5]"></option>
  {{id}}
</select> -->

<!-- <input type="text" placeholder="Input here"  class="form-control" #val><br><br>
<button (click)="submitvalue(val)" class="btn btn-success">submitValue</button> -->
<!-- <app-child [myData]="name" ></app-child> -->
<!-- <app-child [myValue]="value" ></app-child> -->

<!-- <app-dir-assign></app-dir-assign> -->
<!-- <app-simpletemplete-form></app-simpletemplete-form> -->
<!-- <app-simpleform></app-simpleform> -->
<!-- <app-simpleform-assingnment></app-simpleform-assingnment> -->
<!-- <app-reactive-forms></app-reactive-forms> -->

<!-- <app-templetdriven-form-ass></app-templetdriven-form-ass> -->
<!-- <app-servicecomp1></app-servicecomp1>
<app-servicecomp2></app-servicecomp2> -->

<!-- <ng-container *ngFor="let api of apiURL">
  product ID :<strong class="text-success">{{product.id}}</strong>
  product Name :<strong  class="text-success">{{product.name}}</strong>
  <br>

</ng-container> -->

<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-comp1></app-comp1>
<app-comp2></app-comp2> -->

<!-- <app-pipe></app-pipe> -->
<!-- <app-filpterpipe></app-filpterpipe> -->
<app-pipefilter></app-pipefilter>