<p>reactive-forms works!</p>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded py-5">
            <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
                <div formGroupName="userDetails">
                    <div class="form-group">
                        <input type="text" formControlName="username" placeholder="Enter user name">
                        <!-- <small class="text-danger"
                            *ngIf="!myReactiveForm.get('userDetails.username').valid && myReactiveForm.get('userDetails.username').touched">Pease
                            enter username</small> -->
                        <small *ngIf="myReactiveForm.get('username').errors['required']">Please enter user name</small>
                        <!-- <small *ngIf="myReactiveForm.get('username').errors['namesNotAllowed']"
                    >username is not allowed  {{myReactiveForm.get('username').value}}</small> -->
                        <small *ngIf="myReactiveForm.get('userDetails.username').errors['namesNotAllowed']">User name
                            not allowed {{myReactiveForm.get('userDetails.username').value}}</small>


                    </div><br>
                    <div class="form-group">
                        <input type="text" formControlName="email" placeholder="Enter Email Address">
                        <br><br>

                        <small class="text-danger"
                            *ngIf="myReactiveForm.get('email').valid && myReactiveForm.get('email').touched ">Please
                            enter valid email</small>
                        <small *ngIf="myReactiveForm.get('userDetails.email').errors['emailNotAllowed']">User email not
                            allowed {{myReactiveForm.get('userDetails.email').value}}</small>


                    </div>
                </div>

                <!-- <input type="text" formControlName="username" placeholder="Enter user name">
    <br> <br>

 <input type="text" formControlName="email" placeholder="Enter Email Address">
 <br> <br> -->
                <div class="form-group">
                    <label for="course">Select Course</label>
                    <select class="form-control" formControlName="course" id="course" ngModel>
                        <option value="Angular">Angular</option>
                        <option value="HTML">HTML</option>
                        <option value="JavaScript">JavaScript</option>
                    </select>
                </div>


                <div class="form-group">
                    <div class="custum-control custum-radio" *ngFor="let gender of genders">
                        <input type="radio">

                    </div>

                </div>

                <div class="form-group"></div>
                <div class="custom-control custom-radio" *ngFor="let gender of genders">

                    <input type="radio" id="{{gender.id}}" value="{{gender.value}}" class="custom-control-input"
                        formControlName="gender">
                    <label for="{{gender.id}}">{{gender.value}}</label>
                </div>
                <div>
                    <label>skills</label>
                    <ng-container>
                        <input type="text" class="">
                    </ng-container>

                </div>


                <button class="btn btn-success">Submit</button>
            </form>
            <div class="row.justify-content-center  mt-2">
                <div>
                    <h2>My Reactive forms</h2>
                    <p>User Name : </p>
        </div>
    </div>
</div>