<h2>componet-directives Validation Assignment!</h2>


<div class="col-sm-6" style="margin: left 20%; ;">
 
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="col-sm-6">
      <label for="exampleInputEmail1" class="form-label"><u>Email address</u></label>
      <input type="email" email required #email="ngModel" class="form-control" name="User Email" ngModel aria-describedby="emailHelp">
    </div>
    <hr>
           
      <span *ngIf="email.invalid && email.touched"class="error">Email is not valid..
      </span>
     
    <div class="col-sm-6">
      <label for="exampleInputPassword1" class="form-label"><u>Password</u></label>
      <input type="password" class="form-control" name="Password" ngModel >
    </div>
    <hr>

    <div class="col-sm-6">
        <label for="exampleInputPassword1" class="form-label"><u>Confirm Password</u></label>
        <input type="password" required minlength="10" maxlength="10" #password="ngModel" class="form-control" name="Password" ngModel >
      </div>
      <hr>
      <span *ngIf="password.invalid && password.touched"class="error"> Incorrect Password..
    </span>

    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" >
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit"[disabled]="userForm.invalid"class="btn btn-primary">Submit</button>
  </form>

</div>
