<p>product works!</p>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <img  src="../../assets/images/laptop.webp" alt="card img cap">
                <div class="card-body">
                    <h5 class="caed-title">Laptop</h5>
                    <p class="card-text">Some quck example text to build on the card.</p>
                    <a href="#" class="btn-btn-primary">Go Somewhere</a>
                </div>
           
        </div>


        <div class="card">
            <img class="class-img-top" src="../../assets/images/tv.webp" alt="card img cap">
                <div class="card-body">
                    <h5 class="caed-title">TV</h5>
                    <p class="card-text">Some quck example text to build on the card.</p>
                    <a href="#" class="btn-btn-primary">Go Somewhere</a>
                </div>
            
        </div>

        <div class="card">
            <img class="class-img-top" src="../../assets/images/tablet.jpg" alt="card img cap">
                <div class="card-body">
                    <h5 class="caed-title">Tablet</h5>
                    <p class="card-text">Some quck example text to build on the card.</p>
                    <a href="#" class="btn-btn-primary">Go Somewhere</a>
                
            </div>
        </div>

        <div class="card">
            <img class="class-img-top" src="../../assets/images/washingMachine.jpg" alt="card img cap">
                <div class="card-body">
                    <h5 class="caed-title">WashingMachine</h5>
                    <p class="card-text">Some quick example text to build on the card.</p>
                    <a href="#" class="btn-btn-primary">Go Somewhere</a>
                </div>
            
        </div>
    </div>
</div>
