<!-- <iframe src="/default.asp" width="100%" height="300" style="border:1px solid black;">
/iframe> -->
<div class="container" style="text-align:center; background-color: aliceblue;">

    <h1>Hotel Booking</h1>
    <h3>Experience something new every moment</h3>
</div>


<div class="form-group" class="container" style="padding-left:30%;">
    <form #simpleForm="ngForm" (ngSubmit)="getUserValue(simpleForm.value)">
        <input type="text" name="User name" placeholder="Enter name" required ngModel> <br><br>
        <input type="text" name="Age" placeholder="Enter age" ngModel><br><br>
        <input type="text" name=" Email" email placeholder="Enter Email" required ngModel #email="ngModel"><br>
        <span class="help-bpx" *ngIf="email.touched && !email.valid" style="color: red;">please enter valid
            email</span><br><br>
        <!-- <div class="form-group"> -->
        <!-- <label for="Rooms">Select Room type</label> -->
        <!-- <input type="text" name="Rooms" placeholder="Select number of Rooms" ngModel> -->
        <label for="Rooms">Select Room type</label> <br>
        <select name="Rooms"  required ngModel>
            <option value="Standard Room (1 to 2 People)">Standard Room (1 to 2 People)</option>
            <option value="Family Room (1 to 4 People)">Family Room (1 to 4 People)</option>
            <option value="Private Room (1 to 3 People)">Private Room (1 to 3 People)</option>
            <option value="Mix Dorm Room (6 People)">Mix Dorm Room (6 People)</option>

        </select><br><br>
        <label>Arrival Date:</label> &nbsp;&nbsp;<br>
        <input type="date" name="date" placeholder="Arival Date and time" required ngModel><br><br>
        <label>Departure Date:</label> &nbsp;&nbsp;<br>
        <input type="date" name="date" placeholder="Departure Date" required ngModel><br><br>

        <label>Free Pickup?</label><br><br>
        <input type="checkbox" name="yPickup" value="y" ngModel style="width:5%">&nbsp;
        <label for="yPickup"> Yes Please! - Pick me up on arrival</label><br>
        <input type="checkbox" name="nPickup" value="n" ngModel style="width:5%">&nbsp;
        <label for="nPickup"> No Thanks - I'll make my own way there</label><br><br>

        <label>Special Requests</label> <br>
        <textarea name="sr" cols="30" rows="3" placeholder="Write Your spacial request here..." ngModel></textarea>
        <br><br>

        <!-- </div> -->
        <button class="btn btn-success" [disabled]="!ngForm.valid">Get User Data</button>
    </form>
</div>
<!-- 
<form #simpleForm="ngForm"(ngSubmit)="getUserValue(simpleForm.value)" >
    <input type="text" name="User name" placeholder="Enter name" ngModel> <br><br>
    <input type="text" name="Age" placeholder="Enter age" ngModel><br><br>
    <input type="text" name=" Email" placeholder="Enter Email" ngModel><br><br>
    
    <div class="form-group">
        <label for="Rooms">Select Room type</label>
        <select class="form-control" name="Rooms" id="course" ngModel>
            <option value="Standard Room (1 to 2 People)">Standard Room (1 to 2 People)</option>
            <option value="Family Room (1 to 4 People)">Family Room (1 to 4 People)</option>
            <option value="Private Room (1 to 3 People)">Private Room (1 to 3 People)</option>
            <option value="Mix Dorm Room (6 People)">Mix Dorm Room (6 People)</option>

        </select>
    </div>
    <button>Get User Values</button>
</form> -->