<h1 style="background-color:rgb(200, 246, 167) ; margin-left: 20%;margin-right: 20%; "> @output decorator Assignment</h1>
<!-- <h1>{{title}}</h1>
<h1>{{disc}}</h1>
<a href="">click me</a>

<h1>{{item}}</h1> -->


<!-- Step 1user entering value -->
<!-- <p>Enter food name</p> -->
<!-- <input type="text"(keyup.enter)="addtofood(item.value) #item"> -->

<!-- <p>Enter food name</p> -->

<!-- steps 1 user entering foods name   -->
<!-- <input type="text" (keyup.enter)="addtofood(item.value)" #item> -->


<!-- 
<input type="text"(keyup.enter)="addtofood(item.value) #item"> -->

<!-- <p>Enter employee name</p> -->

<!-- steps 1 user entering foods name   -->
<!-- <input type="text" (keyup.enter)="addtoemployee(item.value)" #item> -->
<!-- <button (click)="fireEvent()">send Event </button> -->
<br>
<button class="btn btn-primary" (click)="getDataFromChild()" style="margin-left:20% ; margin-right: 20%;">send data </button>
<hr>
<!-- <div >
<h4>

  fullName = {{childEvent.fullName}} 
</h4>
<h4>
    {{obj. city}} 
 </h4>
 <h4>
    {{obj.isMarried}} 
 </h4>
 <h4>
    {{obj.age}} 
 </h4>
 <h4>
    {{obj.address}} 
 </h4>
</div> -->
